<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TimeCourse</title>
    <script src="/js/home/login.js" defer></script>
    <link rel="shortcut icon" href="/img/home/jbu.fav.png" />
    <link rel="stylesheet" href="/css/home/login.css" />
  </head>
  <body>
    <div id="login_wrap">
      <div id="left">
        <img src="/img/home/jbu.png" />
        <div id="etc_btn">
          <a href="https://www.joongbu.ac.kr/">중부대학교</a>
          <span>/</span>
          <a class="jbu_click" href="https://edu.joongbu.ac.kr/"
            >중부대학교 LMS</a
          >
        </div>
      </div>

      <div id="right">
        <form>
          <div id="login_box">
            <h2 id="clock">00:00</h2>
            <ul id="input_button">
              <li>
                <ul>
                  <li>
                    <span class="spacing" style="margin-left: 0px;">ID</span>
                    <input id="userID" type="text" style="margin-left: 13px;" />
                    <span>                <button id="loginButton" type="button" >LOGIN</button></span>
                  </li>
                  <li>
                    <span class="spacing" style="margin: left 30px;">PW</span>
                    <input id="userPS" type="password" />
                    
                  </li>
                </ul>
              </li>

              
            </ul>
            <ul id="btns">
              <u>
                홈페이지 사용안내 : 홈페이지 사용은
                <a id="member" href="/register">회원가입</a> 후<br />
                로그인하여 사용하시기바랍니다.
              </u>
            </ul>
          </div>
        </form>

        <div id="bottom_img">
        <img src="/img/home/jbup.png">
      </div>
    </div>
  </div>

  <script src="/js/home/clock.js"></script>
</body>
  </body>
</html>